<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Weather dataset</title>
    </head>
    <body>
        <header>
            <h1>WEATHER DATASET</h1>
            <header>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('explore') }}">Explore Data</a></li>
                        <li><a href="{{ url_for('login') }}" class="sign-in">Sign In</a></li>
                    </ul>
                </nav>
            </header>
        </header>
        <br>
            <h4>You have to sign in to access the dataset.</h4>
            <a href="{{ url_for('login') }}">Sign In</a>
    </body>
</html>
